<h1>Daily Report for <%= @team.try(:name)||'All' %> Team</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Hours Logged<th>
  </tr>
  <% @time_entries.each do |user, time_entries| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= time_entries.map(&:hours).inject(:+).round(2) %></td>
    </tr>
  <% end %>
  <% if @time_entries.blank? %>
    <tr><td colspan='8'><strong>No records found.</strong></td></tr>
  <% end %>
</table>
